.achievements {
  background-color: cornflowerblue;
  background-size: cover;
  padding-top: 46px;
}
@media (max-width: 600px) {
  .achievements {
    height: auto;
  }
  .achievements-list {
    flex-direction: column;
  }
}
.achievements-title {
  height: 12%;
  padding-top: 36px;
}
.achievements-title h1{
  font-size: 40px;
  color : white;
}
.paper-achievement {
  height: 100%;
}
.img-achievement {
  height: 30%;
}
.content-achievement {
  height: 80%;
}
.text-achievement {
  width: 80%;
  margin : auto;
  text-align: justify;
  padding-bottom: 8px;
}
.text-achievement-title {
  height: 20%;
}
.text-achievement-title h1 {
  font-size: 18px;
  color : #555;
}
.img-mix-it {
  background-image: url("../img/mix-it-logo-min.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EE5351;
}
.img-report {
  background-image: url("../img/crypto-wallpaper-min.jpg");
  background-size: cover;
}
.img-react {
  background-image: url("../img/react-logo-min.png");
  background-size: cover;
}
.img-angular {
  background-image: url("../img/angular-logo.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3f3f3;
}
.img-portfolio {
  background-image: url("../img/logo-blanc-min.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
}
